# web scrapping from Naukri website

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.9.1-py3-none-any.whl (6.6 MB)
     ---------------------------------------- 6.6/6.6 MB 6.5 MB/s eta 0:00:00
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     ------------------------------------- 384.9/384.9 kB 12.1 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\z003c65h\anaconda3\lib\site-packages (from selenium) (1.26.11)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.2-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\z003c65h\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sortedcontainers in c:\users\z003c65h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in c:\users\z003c65h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\z003c65h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\z003c65h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.1-py3-none-any.whl (14 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\z003c65h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\z003c65h\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\z003c65h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB ? eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.1 h11-0.14.0 outcome-1.2.0 selenium-4.9.1 trio-0.22.0 trio-websocket-0.10.2 wsproto-1.2.0

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\Z003C65H\Downloads\chromedriver.exe")

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [13]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [18]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [19]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [21]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tata Consultancy Services (TCS),5-10 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
3,Insight Data Analyst,"Bangalore/ Bengaluru, Karnataka, Noida, Uttar ...",Vuca Consulting,5-10 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",KPI Partners,1-4 Yrs
5,Data Analyst,Bangalore/Bengaluru,Vsmart World Communication,4-6 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Chennai",Brunel,3-6 Yrs
7,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Energy,2-7 Yrs
8,Celonis & Salesforce Data Analyst,Hybrid - Bangalore/Bengaluru,Hitachi Ltd.,3-5 Yrs
9,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",HARMAN,6-9 Yrs

# python program to scrape data - “Data Scientist”

In [22]:
driver=webdriver.Chrome(r"C:\Users\Z003C65H\Downloads\chromedriver.exe")

In [23]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [24]:
driver.get("https://www.naukri.com/")

In [25]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [27]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [28]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [30]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [32]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte,9-14 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart,6-8 Yrs
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS),4-8 Yrs
5,Senior Data Scientist,Bangalore/Bengaluru,Walmart,1-6 Yrs
6,Data Scientist,Bangalore/Bengaluru,Walmart,4-6 Yrs
7,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS),4-9 Yrs
8,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,3-6 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",IBS Software Services,3-8 Yrs

# python program to display list of respected former Prime Ministers of India

In [40]:
driver=webdriver.Chrome(r"C:\Users\Z003C65H\Downloads\chromedriver.exe")

In [41]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [42]:
driver.get("https://www.jagranjosh.com/")

In [43]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
search.click()

In [44]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [78]:
name=[]
born_dead=[]
terms_of_office=[]
remarks=[]

In [82]:
title_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in title_tags[0:10]:
    title=i.text
    name.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[3]/p')
for i in location_tags[0:10]:
    location=i.text
    born_dead.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in company_tags[0:10]:
    company=i.text
    terms_of_office.append(company)
    
company_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[5]/p')
for i in company_tags[0:10]:
    company=i.text
    remarks.append(company)

In [83]:
print(len(name),len(born_dead),len(terms_of_office),len(remarks))

2 2 2 2

In [84]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Duration':born_dead,'Terms':terms_of_office,'Remarks':remarks})
df

,Name,Duration,Terms,Remarks
0,Name,Born-Dead,Term of office,Remark
1,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...

# data of first 100 sunglasses listings on flipkart.com

In [125]:
driver=webdriver.Chrome(r"C:\Users\Z003C65H\Downloads\chromedriver.exe")

In [126]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [127]:
driver.get("https://www.flipkart.com/")

In [130]:
products=driver.find_element(By.CLASS_NAME,"_3704LK")
products.send_keys('sunglasses')

In [131]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [148]:
brand=[]
product_description=[]
price=[]
discount=[]

In [156]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:37]:
    title=i.text
    brand.append(title)
    
    

    
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in company_tags[0:37]:
    company=i.text
    price.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in experience_tags[0:37]:
    exp=i.text
    discount.append(exp)

In [157]:
print(len(brand),len(price),len(discount))

151 151 151

In [159]:
import pandas as pd
df=pd.DataFrame({'Brands':brand,'Price':price,'Discount':discount})
df

            Brands   Price Discount
0           OAKLEY  ₹5,899  35% off
1     Singco India    ₹396  80% off
2         Fastrack    ₹499  44% off
3             SRPM    ₹216  83% off
4           PIRASO    ₹239  85% off
..             ...     ...      ...
146     iCopertina    ₹199  80% off
147       Fastrack    ₹609  44% off
148       Fastrack    ₹609  44% off
149  VINCENT CHASE    ₹709  64% off
150       Fastrack    ₹559  44% off

[151 rows x 3 columns]

# Scrapping 100 reviews data from flipkart.com for iphone11 phone

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [39]:
driver=webdriver.Chrome(r"C:\Users\Z003C65H\Downloads\chromedriver.exe")

Incompatible release of chromedriver (version 113.0.5672.63) detected in PATH: C:\Users\Z003C65H\chromedriver.exe

In [40]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [41]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [42]:
ratings=[]
review_summary=[]
full_review=[]

In [43]:
start=0
end=10
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags[0:100]:
        title=i.text
        ratings.append(title)
    
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags[0:100]:
        company=i.text
        review_summary.append(company)
    
    fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview_tags[0:100]:
        exp=i.text
        full_review.append(exp)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [44]:
print(len(ratings),len(review_summary),len(full_review))

100 100 100

In [45]:
import pandas as pd
df=pd.DataFrame({'Ratings':ratings,'Product_Review':review_summary,'Full_product_review':full_review})
df

,Ratings,Product_Review,Full_product_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,"Amazing camera quality as expected, battery al..."
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Perfect product!,It is just awesome mobile for this price from ...